@charset "utf-8";

header {
  h1 {
    height: 70px;
    line-height: 70px;
    margin: 0;
    padding-left: 10px;
    color: #79b30b;

    a {
      color: #79b30b;
      text-decoration: none;

      &:hover {
        color: #79b30b;
        text-decoration: none;
      }

      &:visited {
        color: #79b30b;
        text-decoration: none;
      }

      &:active {
        color: #79b30b;
        text-decoration: none;
      }
    }
  }

  ul {
    height: 20px;
    margin: 0 20px 10px 0;
  }

  li {
    float: right;

    a {
      color: #4f4f4f;
      font-weight: bold;
      margin-left: 10px;
      text-decoration: none;
    }
  }
}
